/* ------------------------ */
/*           Hero           */
/* ------------------------ */
.hero {
  position: relative;
  top: $header-height-desktop;
  z-index: 1;
  height: $hero-height-desktop;
  background-color: rgba($color-black, 0.2);

  &::before {
    position: absolute;
    top: $hero-height-desktop;
    width: 100%;
    height: 1px;
    background: rotate-gradient(90deg);
    content: "";
  }
}
